

</div>
<br />
<nav class="navbar fixed-bottom navbar-light bg-light">

  <div class="footer">
      Made with ❤️ by Amparo Smith
  <a class="navbar-brand" href="#">
  </a>
  </div>
</nav>
</body>
</html>
